body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#game-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 2px solid black;
    background-image: url('interieurrontwerp-appartement-ou8nl2c2y2t7lzwm18cfnzkxi5ly40f1f1caemgrjk.jpg'); 
    background-size: cover;
}
#ball {
    width: 50px;
    height: 50px;
    background-image: url('1600943094096.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#goal {
    width: 50px;
    height: 50px;
    background-image: url('Afbeelding5.png');
    background-size: cover;
    position: absolute;
    top: 80%;
    left: 80%;
}
